.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  display: inline-block;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-header h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 60px;
  vertical-align: top;
  color: white;
}

@media(max-height: 768px) {
  .App-header {
    display: none;
  }
}

.App-intro {
  font-size: large;
}

h3 {
  text-transform: uppercase;
  text-align: left;
  color: #666;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
