.DeckDetails {
    margin: 40px;
}

.DeckDetails h3 {
    font-size: 32px;
    margin: -40px -40px 0 -40px;
    padding: 20px 40px;
    background: white;
}

.DeckDetails h3 small {
    display: block;
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
    color: #666;
}

.DeckDetails h3 .flag-icon {
    border: #ddd solid 1px;
    background-size: cover;
}

.CardsList {
    padding-top: 20px;
}

.CardsList .Card {
    display: flex;
    flex-orientation: horizontal;
    background: white;
    border: #ddd solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    border-left: #ccc solid 5px;
}

.CardsList .Card.isUpdating {
    opacity: 0.5;
    border-left-color: #d00;
}

.CardsList .Card.isNew {
    border-left-color: #d00;
}

.Card .Card-meta {
    width: 50px;
    margin: 0px 5px;
}

.Card.reverse {
    border-left: #3ccfcf solid 5px;
}

.Card .Card-body {
    flex: 1;
    font-size: 14px;
    text-align: left
}

.Card-front, .Card-front textarea {
    font-size: 14px;
    font-weight: bold;
}

.Card-back {
    font-size: 14px;
}

.Card-image-and-sound {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-size: cover;
    background-position: 50% 50%;
}

.Card .card-text-block {
    padding: 0.5em;
    margin: 0;
}

.Card-back textarea, .Card-front textarea {
    font-family: sans-serif;
    font-size: 14px;
    padding: 0.5em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    height: 30px;
    border: none;
}

.NewCardContainer {
    background: #f3d7d6;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
}

.Card-actions {
    text-align: left;
    padding: 5px;
    font-size: 12px;
}

.Card-actions a:hover {
    font-weight: bold;
}

.Card-actions a + a {
    margin-left: 20px;
}

.CardMetadata {
    text-align: left;
}


.CardMetadata > div {
    display: flex;
    flex-orientation: horizontal;
}

.Card-body label {
    width: 75px;
    font-size: 13px;
    margin: 5px 5px;
    display: inline-block;
}

.CardMetadata input:not([type=checkbox]) {
    flex: 1;
    margin: 1px;
}

.CardMetadata input[type=checkbox] {
    margin-top: 5px;
}

.sounded-text {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #888;
    cursor: pointer;
}

.sounded-text:hover:after {
    content: '\1F50A';
    display: inline-block;
    font-size: 13px;
    vertical-align: baseline;
    margin: -3px 3px;
}

.sounded-text > div {
    display: inline;
}

.Card-notes {
    color: #888;
}

.Card-notes .card-notes-header {
    font-weight: bold;
}

.Card-notes em {
    font-style: normal;
    background: #e7e7e7;
}
