.StudyApp {
    padding: 40px;
    background: white;
}

.StudyApp h3 {
    margin: -40px -40px 0 -40px;
    padding: 20px 40px;
    background: #eee;
}

.StudyCard {
    text-align: left;
}

.StudyCard {
    position: absolute;
    background: white;
    left: 0px;
    right: 0px;
    padding: 0 0 40px 0;
    top: 165px;
    height: auto;
    min-height: calc(100% - 205px);
}

.StudyCard .Card-front {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border-bottom: #ddd dashed 1px;
}

.StudyCard .Card-front.maybeWrong {
    background: #FFD51A;
    transition: background-color 0.5s ease;
}

.StudyCard .Card-front.wrong {
    background: rgb(255, 152, 150);
    transition: background-color 0.3s ease;
}

.StudyCard .Card-front.right, .StudyCard .Card-front.maybeRight {
    background: rgb(152, 223, 138);
    transition: background-color 0.3s ease;
}

.StudyCard .Card-front.easy {
    background: rgb(158, 218, 229);
    transition: background-color 0.3s ease;
}

.StudyCard .Card-answer {
    padding: 20px 40px;
}

.StudyCard .Card-answer {
    font-size: 24px;
}

.StudyCard .Card-answer textarea {
    border: none;
    width: 100%;
    font-size: 24px;
}

.StudyCard .Card-back {
    font-size: 24px;
    font-style: italic;
    padding: 20px 40px;
    border-top: #ddd dashed 1px;
}

.StudyCard .Card-notes {
    border-top: #ddd dashed 1px;
    padding: 20px 40px;
}

.StudyCard .Card-actions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    display: flex;
}

.StudyCard .Card-actions button {
    flex: 1;
    cursor: pointer;
    font-size: 20px;
}

.StudyCard .Card-actions button .timing {
    display: inline-block;
    color: #888;
    margin-left: 20px;
}

.StudySessionResult {
    padding: 20px 0;
    text-transform: lowercase;
    font-size: 18px;
}

.StudySessionResult .number {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}

.StudySessionResult .term {
    display: inline;
    width: 300px;
}

.StudySessionResult .term:after {
    content: "\a";
    white-space: pre;
}

.StudyDueDistribution svg g.x circle.tick-circle {
    transform: translate(17.5px,0);
}

.StudyDueDistribution svg g.x g.tick text {
    transform: translate(17.5px,0);
}

.StudyHeader small {
    display: block;
    text-transform: none;
    font-weight: 100;
}

ul.legend {
    font-size: 9px;
}

ul.legend .icon {
    width: 9px !important;
    height: 9px !important;
}

ul.legend li.horizontal {
    line-height: inherit;
}
