@font-face {
    font-family: 'darts font';
    src: url(/dartsfont.woff);
}

@font-face {
    font-family: Hosofuwafont;
    src: url(/Hosohuwafont.ttf);
}

@font-face {
    font-family: cinecaption;
    src: url(/cinecaption2.28.ttf);
}

@font-face {
    font-family: 'Hakushy Kaisho Bold';
    src: url(/hkgokukaikk.ttf);
}

.StudyApp {
    padding: 40px;
    background: white;
}

.StudyApp h3 {
    margin: -40px -40px 0 -40px;
    padding: 20px 40px;
    background: #eee;
}

.StudyCard {
    text-align: left;
}

.StudyCard {
    position: absolute;
    background: white;
    left: 0px;
    right: 0px;
    padding: 0 0 40px 0;
    top: 165px;
    height: auto;
    min-height: calc(100% - 205px);
}

.StudyCard .Card-front {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border-bottom: #ddd dashed 1px;
    cursor: pointer;
}

.StudyCard.wanikani-radical .Card-answer-overlay,
.StudyCard.wanikani-kanji .Card-answer-overlay,
.StudyCard.wanikani-vocabulary .Card-answer-overlay {
    display: none;
}

.StudyCard.wanikani-radical .Card-front,
.StudyCard.wanikani-kanji .Card-front,
.StudyCard.wanikani-vocabulary .Card-front {
    color: white;
    border-bottom: none;
    text-align: center;
    font-size: 48px;
}

.StudyCard .Card-front .wanikani-character {
    height: 48px;
    filter: none;
}

.StudyCard.wanikani-radical .Card-front {
    background: #00a1f1;
}

.StudyCard.wanikani-kanji .Card-front {
    background: #f100a1;
}

.StudyCard.wanikani-vocabulary .Card-front {
    background: #a100f1;
}

.StudyCard .Card-front.maybeWrong {
    background: #FFD51A;
    transition: background-color 0.5s ease;
}

.StudyCard .Card-front.wrong {
    background: rgb(255, 152, 150);
    transition: background-color 0.3s ease;
}

.StudyCard .Card-front.right, .StudyCard .Card-front.maybeRight {
    background: rgb(152, 223, 138);
    transition: background-color 0.3s ease;
}

.StudyCard .Card-front.easy {
    background: rgb(158, 218, 229);
    transition: background-color 0.3s ease;
}

.Card-answer .flag-icon-jp {
    border: #ddd solid 1px;
    padding: 2px 2px 2px 2px;
    margin-top: -1px;
}

.StudyCard .Card-answer {
    padding: 20px 40px;
    position: relative;
}

.StudyCard .Card-answer {
    font-size: 24px;
}

.StudyCard .Card-answer textarea {
    border: none;
    width: 100%;
    font-size: 24px;
}

.StudyCard .Card-answer-overlay {
    position: absolute;
    top: -15px;
    margin-left: -40px;
    margin-right: -40px;
    text-align: center;
    width: 100%;
    color: #aaa;
    font-weight: normal;
    overflow: hidden;
}


.StudyCard .Card-back {
    font-size: 24px;
    font-style: italic;
    padding: 20px 40px;
    border-top: #ddd dashed 1px;
}

.StudyCard .Card-notes {
    border-top: #ddd dashed 1px;
    padding: 20px 40px;
}

.StudyCard .Card-actions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    display: flex;
}

.StudyCard .Card-actions button {
    flex: 1;
    font-size: 20px;
}

.StudyCard .Card-actions button .timing {
    display: inline-block;
    color: #888;
    margin-left: 20px;
}

.StudySessionResult {
    padding: 20px 0;
    text-transform: lowercase;
    font-size: 18px;
}

.StudySessionResult .number {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}

.StudySessionResult .term {
    display: inline;
    width: 300px;
}

.StudySessionResult .term:after {
    content: "\a";
    white-space: pre;
}

.StudyDueDistribution svg g.x circle.tick-circle {
    transform: translate(17.5px,0);
}

.StudyDueDistribution svg g.x g.tick text {
    transform: translate(17.5px,0);
}

.StudyHeader small {
    display: block;
    text-transform: none;
    font-weight: 100;
}

ul.legend {
    font-size: 9px;
}

ul.legend .icon {
    width: 9px !important;
    height: 9px !important;
}

ul.legend li.horizontal {
    line-height: inherit;
}

.StudyCard .level-indicator {
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: -50px;
    background: none;
    font-weight: normal;
}

.StudyCard .level-indicator::before {
    content: 'WL #';
}


@media(max-height: 768px) {
    .StudyApp h3 {
        font-size: 16px;
        padding: 15px;
    }
    .StudyCard {
        top: 65px;
        min-height: calc(100% - 105px);
    }

    .StudyCard .Card-front, .StudyCard .Card-answer, .StudyCard .Card-back {
        font-size: 18px;
        padding: 15px;
    }

    .StudyCard .Card-front {
        padding-bottom: 25px;
    }

    .StudyCard .Card-answer {
        padding-top: 25px;
    }

    .StudyCard .Card-answer textarea {
        font-size: 18px;
    }

    .StudyCard .Card-actions button {
        font-size: 18px;
    }

    .StudyCard .Card-answer-overlay {
        top: -11px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.wanikani-vocabulary .sounded-text {
    text-decoration: none;
    pointer-events: none;
}

.wanikani-vocabulary .maybeWrong .sounded-text,
.wanikani-vocabulary .maybeRight .sounded-text,
.wanikani-vocabulary .pronunciation-audios .sounded-text
{
    pointer-events: auto;
}

.pronunciation-audios {
    margin-top: 1em;
}

.pronunciation-option {
    display: inline-block;
    margin-right: 10px;
    padding: 2px 5px;
    background-color: #a100f1;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
}

.pronunciation-option .sounded-text:hover:after {
    display: none;
}

.wanikani-font {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Source Han Sans Japanese", "NotoSansCJK", "TakaoPGothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
    font-weight: normal;
}

.wanikani-font:hover {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Source Han Sans Japanese", "NotoSansCJK", "TakaoPGothic", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif !important;
}

.context-sentence {
    margin-top: 10px;
}

.context-sentence + .context-sentence {
    margin-top: 20px;
}

.reveal-on-hover-container .reveal-on-hover {
    visibility: hidden;
}

.reveal-on-hover-container:hover .reveal-on-hover {
    visibility: visible
}
